.landing {
  margin-left: 300px;
  @media screen and (max-width: 500px) {
    margin: 0;
    padding: 155px 0 0;
  }
  .gallery {
    display: flex;
    padding: 15px;
    @media screen and (max-width: 500px) {
      justify-content: center;
    }

    &.large {
      justify-content: center;
    }
    flex-wrap: wrap;
    .art {
      // cursor: pointer;
      padding: 15px;
      max-width: 330px;
      &.large {
        max-width: 1030px;
      }
      img {
        width: 100%;
      }
    }
  }
}

.loading {
  position: fixed;
  // right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
