.landing {
  margin-left: 300px;
  .gallery {
    display: flex;
    padding: 15px;
    &.large {
      // justify-content: center;
    }
    flex-wrap: wrap;
    .art {
      padding: 15px;
      max-width: 280px;
      &.large {
        max-width: 430px;
      }
      img {
        width: 100%;
      }
    }
  }
}
